        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: 0;
        }

        body{
            background: #ccc;
            font-family: "Inter", sans-serif;
        }

        table{
            border-collapse: collapse;
            width: 100%;
        }
        td{
            border-bottom: 1px solid #e0e0e0;
        }

        a{
            text-decoration: none;
            color: #98A2B3;
        }
        .td-border-none{
            border: none;
        }

        .table-inner{
            width: 600px;
            padding: 12px 24px 24px;
            margin: 40px auto 0;
            background: #fff;
            box-shadow: 4px 4px 10px 0px #000;
        }

        .table-main-row{
            height: 56px;
        }

        .w-376{
            width: 376px;
        }

        .item_name{
            font-size: 15px;
            font-weight: 400;
            color: #667085;
        }